
/*//STYLESHEEET//MAIN//*/

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 80px;
  margin-right: 80px;
}

/* Style the header */
header {
  background-color: rgb(0, 0, 0);
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  border-radius: 5px;
  margin: 20px;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 10%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 25px;
  border-radius: 15px 50px;
  margin: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
  
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
  border-radius: 5px;
  margin: 20px;
}



section::after {
  content: "";
  display: table;
  clear: both;
  border-radius: 5px;
  width: 50%;
  
}


footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
  border-radius: 5px;
  
}


@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

